*.iml
.gradle/
gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries/
.DS_Store
/build/
/captures/
/app/build/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
/Node/
app/libs/
app/build
appium/build
nohup.out
set_animation_permissions.sh
appium/libs/
